<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1>

    <ul>
        {% for produto in produtos %}
        <li>{{ produto.nome }}</li>
        {% endfor %}
    </ul>


    Produto encontrado
    {{ produto }}
</body>
</html>